name: {{ release_stage }}-release-request

on:
  workflow_dispatch:

jobs:
  release-pr:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/{{ production_branch }}'

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: configure yarn
        run: yarn install
        working-directory: ./release

      - name: set version
        id: set_version
        run: |
          yarn run release:{{ release_stage }} -- \
{%- raw %}
            --commitUrlFormat="https://github.com/${GITHUB_REPOSITORY}/commit/{{hash}}" \
            --compareUrlFormat="https://github.com/${GITHUB_REPOSITORY}/compare/{{previousTag}}...{{currentTag}}"
          echo "::set-output name=version::$(jq -r .version package.json)"
{%- endraw %}
        working-directory: ./release

      - name: set pull request body
        run: |
{%- raw %}
          body=$(sed -e 's/^#\(#*\) \[/#\1 /' \
                     -e '1,/^###* ${{ steps.set_version.outputs.version }}/d' \
                     -e '/^##* [0-9]/,$d' \
                     CHANGELOG.md)
          echo 'BODY<<EOF' >> $GITHUB_ENV
          echo "${body}" >> $GITHUB_ENV
          echo 'EOF' >> $GITHUB_ENV
{%- endraw %}

      - name: create pull request for patch release
        uses: peter-evans/create-pull-request@v3
{%- raw %}
        with:
          commit-message: "chore: release v${{ steps.set_version.outputs.version }}"
          author: "GitHub Action <41898282+github-actions[bot]@users.noreply.github.com>"
          title: "chore: release ${{ steps.set_version.outputs.version }}"
          body: |
            ## 変更点
            ${{ env.BODY }}
          labels: automated pr
          base: master
          branch: release-v${{ steps.set_version.outputs.version }}
          delete-branch: true
{%- endraw -%}
{%- if release_review %}
          reviewers: "{{ ','.join(release_review.keys()) }}"
{% else %}
{% endif %}
